body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
    .inputBox {
    position: relative;
    }

    .inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 2px solid#ffffff;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    }

    .inputBox span {
    position: absolute;
    left: 0;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    color: #fffefe;
    letter-spacing: 0.1em;
    }

    .inputBox input:focus ~ span,
    .inputBox input:valid ~ span {
    font-size: 0.7em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 5px;
    border-radius: 2px;
    background: #212121;
    letter-spacing: 0em;
    border: 2px solid #ffffff;
    }

